<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<link href="./css/stiloFiltros.css" rel="stylesheet">
<title>Insert title here</title>
</head>
<body>
	<div ng-app="apiApp" ng-controller="apiAppCtrl as vm">
		<h1>Pruebo Ajax con JSONP</h1>
		<p>
			Busca empleado por ID:
			<input type="text" ng-model="vm.id"> <input type="button" value="Buscar" ng-click="vm.buscaEmpleados()">
		</p>
		<aside>
			<h2>Filtra:</h2>
				<input type="text" ng-model="vm.filtroEmpleado">
			<h2>Orden</h2>
			<p>
				<button ng-click="vm.orden=false">Alfabetico</button>
				<br />
				<button ng-click="vm.orden=true">Contrario</button>
			</p>
			<p>
				<input type="radio" name="campo" ng-model="vm.campo" value="employee_name"> Nombre
				<br />
				<input type="radio" name="campo" ng-model="vm.campo" value="employee_salary"> Salario
				<br />
				<input type="radio" name="campo" ng-model="vm.campo" value="id"> ID
			</p>
		</aside>
		<section>
			<ul>
				<li ng-repeat="empleado in vm.empleados | filter:vm.filtroEmpleado | orderBy:vm.campo:vm.orden" ng-class="{even: $even, odd: $odd}">
					<span>{{$index +1}}.- ID: {{empleado.id}} - {{empleado.employee_name}}  Sueldo: {{ empleado.employee_salary }}</span>
				</li>
			</ul>			
		</section>
	</div>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.24/angular.min.js"></script>
<script src="./controladores/11_ejemploAjax.js"></script>
</body>
</html>